{% extends 'base.html.twig' %}

{% block body %}
    <form action="">
        <input type="text" name="nom" placeholder="Nom">
        <input type="text" name="prenom" placeholder="Prenom">
        <button type="submit">Envoyer</button>
    </form>

{% endblock %}


